@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html{
    scroll-behavior: smooth;
}


.jumbotron{
    background-color: #2A2A2A;
}

.jumbotron1{
    padding-top: 6rem;
    background-color: rgba(255, 255, 255, 0.39);
    margin: 20px;
    padding: 20px;
  
}

.f1{
  margin: 0px 10px 10px 300px;
  padding: 0;
  color: white;
  
}



#about {
   background: #2B2B2B;
   padding-top: 93px;
   padding-bottom: 100px;
   overflow: hidden;
}
#about h2{
    color: white;
    padding-bottom: 30px;
   
}
#about h4{
    color: white;
}

#about p{
    color: white;
}

#about a,
#about a:visited {
   color: #fff;
}

#about a:hover,
#about a:focus {
   color: #11ABB0;
}

#about p{
  text-align: justify;
}

#about h6{
  color: white;
}

#education{
    padding-top: 105px;
    padding-left: 30px;
    padding-right: 30px;
}

#education h3{
    padding-left: 10px;
}

#education p{
    padding-left: 10px;
    text-align: justify;
}
#artwork{
    background: #2B2B2B;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 120px;

}

#artwork h2{
    color: white;
}
/* photography */
#photography{
    padding-top: 75px;
    padding-left: 30px;
    padding-right: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

#container2 .heading{
  width: 50%;
  padding-bottom: 50px;
}
#container2 .heading h3{
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

#container2 .heading h3 span{
  font-weight: 100;
}
#container2 .box{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 column-count: 3;
}



#container2 .box .dream{
  display: flex;
  flex-direction: column;
  width: 32.5%;
  margin-right: 15px;

}

#container2 .box .dream img{
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}
img{
    width: 100%;
    transition: 0.25s ease-in-out;
}
#container2 .btn{
  margin: 40px 23px 10px 0px;
  background: #222;
  padding: 15px 40px ;
  border-radius: 5px;
}

#container2 .btn a{
 color: #fff;
 font-size: 1.2em;
 text-decoration: none;
 font-weight: bolder;
 letter-spacing: 3px;
}

@media only screen and (max-width: 769px){
    #container2 .box{
   flex-direction: column;
  }

    #container2 .box .dream{
    width: 100%;
    }
}



/* contact */
#contact{
   
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 180px;
}


/* social links for contac */
#contact .social-links {
   margin: 0px 0px 0px 70px;
   padding-left: 0;
   font-size: 30px;
}

#contact .social-links li {
   display: inline-block;
   margin: 0;
   padding: 0;
   margin-left: 50px;
   color: #fc7419;
}

#contact .social-links li:first-child {
   margin-left: 0;
}

.scrolldown  {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a,
footer a:visited {
   color: #525252;
}

footer a:hover,
footer a:focus {
   color: #fff;
}

/* copyright */
footer .copyright {
   margin: 0;
   padding: 0;
}

footer .copyright li {
   display: inline-block;
   margin: 0;
   padding: 0;
   line-height: 4px;
   color: #525252;
}

.ie footer .copyright li {
   display: inline;
}

footer .copyright li:before {
   content: "\2022";
   padding-left: 10px;
   padding-right: 10px;
   color: #095153;
}

footer .copyright li:first-child:before {
   display: none;
}

/* social links */
footer .social-links {
   margin: 30px 100px 3px 108px;
   padding: 0;
   font-size: 30px;
}

footer .social-links li {
   display: inline-block;
   margin: 0;
   padding: 0;
   margin-left: 42px;
   color: #F06000;
}

footer .social-links li:first-child {
   margin-left: 0;
}

/* Go To Top Button */
#go-top {
   position: absolute;
   top: -24px;
   left: 50%;
   margin-left: -30px;
}

#go-top a {
   text-decoration: none;
   border: 0 none;
   display: block;
   width: 60px;
   height: 60px;
   background-color: #525252;

   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
   border-radius: 100%;
}

#go-top a:hover {
   background-color: #0F9095;
}